<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ConnStringLocal"
            connectionString="Data Source=FABY-NB\JUAN;Initial Catalog=tp2_net;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>